@{
    Layout = "~/Views/Shared/_flow.cshtml";
}

@{
    ViewBag.Title = "TempFlow";
}

<div class="flow">
    <div class="flow-tittle">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        <label class="tittle">临时出库记录</label>
    </div>

    <div class="flow-form">
        <div class="input-group">
            <span class="record-label">领用人姓名：</span>
            <input type="text" class="form-control" placeholder="请输入领用人姓名">
        </div>
        <br />

        <div class="input-group">
            <span class="record-label">操作人姓名：</span>
            <input type="text" class="form-control" placeholder="请输入操作人姓名">
        </div>
        <br />

        <div class="input-group">
            <span class="record-label">夹具代码：</span>
            <input type="text" class="form-control" placeholder="请输入夹具代码">
        </div>
        <br />

        <div class="input-group">
            <span class="record-label">夹具临时使用地点：</span>
            <input type="text" class="form-control" placeholder="请输入夹具的临时使用地点">
        </div>
        <br />

        <div class="input-group">
            <span class="record-label">领用时间：</span>
            <input type="datetime-local" class="form-control">
        </div>
        <br />


        <div class="input-group">
            <span class="record-label">备注：</span>
            <textarea class="form-control" rows="5" cols="20"></textarea>
        </div>

    </div>

    <div class="submit">
        <button class="btn">提交</button>
    </div>


</div>
